*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --BGCOLOR:rgba(0, 0, 255, 0.555);
    --FORM:white;
}
.container{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(var(--BGCOLOR), var(--BGCOLOR)), url(/images/deal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 .formfield{
    background-color: white;
    width: 60%;
    max-width: 340px;
    height: 50%;
    max-height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 2rem;
    box-shadow: 10px 10px 25px black;
    border: dotted blue;

 }
 h1{
    text-align: center;
 }
 .inputfield{
    padding-left: 20px;
    margin-top: 20px;
    background-color: blue;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    height: 50px;
    padding-top: 20px;
    border-radius: 2rem;
    

 }
 input{
    background-color: transparent;
    border: none;
    color: white;
 }
 input::placeholder{
    color: rgba(255, 255, 255, 0.589);
 }
 .pgroup{
    margin-top: 20px;
 }
 p{
    text-align: center;
 }
 .btnfield{
    margin-left: 38%;
    margin-top: 20px;
 }
 button{
    width: 80px;
    height: 30px;
    background-color: red;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
 }
 a{
    color: black;
    text-decoration: none;
 }
 a:hover{
    color: red;
 }
 ul{
    background-color: white;
    display: flex;
    font-size: 2rem;
    text-transform: capitalize;
    gap: 30px;
    list-style: none;
 }
 li{
    margin-top: 10px;
 }